:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
}

game-root {
  padding: 0;
}

.card {
  box-sizing: border-box;
  border-style: solid;
  border-width: 2mm;
  border-color: #f4f4f4;
  border-radius: 5mm;
  font-size: 12pt;
  padding: 5mm;
  position: relative;
  display: inline-block;
  margin: 1mm;
  width: 44mm;
  background-color: #0d0721;
  color: #f4f4f4;
}
.captainCard {
  height: 88mm;
  width: 63mm;
}
.planetCard {
  height: 64mm;
}
.hyperspeedCard {
  height: 64mm;
}
.finalFrontierCard {
  height: 64mm;
}
ul {
  border-style: solid;
  border-width: 0.5mm;
  border-radius: 2mm;
  padding: 2mm;
  padding-left: 3mm;
  padding-right: 3mm;
  margin-right: 5mm;
  bottom: 0mm;
  position: absolute;
}
hr {
  border-width: 0.25mm;
  border-style: solid none none none;
  border-color: #f4f4f4;
  margin-top: 0.1mm;
  margin-bottom: 1mm;
}
.portrait {
  width: 40mm;
  height: 40mm;
  //background-color: cornflowerblue;
  margin-left: auto;
  margin-right: auto;
}
.portrait img {
  width: 100%;
}
.name {
  margin-top: 0mm;
  text-align: center;
  font-family: "brevia", sans-serif;
  font-weight: 800;
}
.description {
  text-align: center;
  font-size: 8pt;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.skill {
  font-size: 6pt;
  text-align: left;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  list-style: none;
}
.skillA::marker {
}
.skillA {
  margin-bottom: 1mm;
}
.skillB::marker {
}
